/* Background */
.login-wrapper {
    height: 100vh;
    background: linear-gradient(135deg, #8e2de2, #4a00e0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* Floating product icons */
.float-icon {
    position: absolute;
    width: 90px;
    opacity: 0.18;
    animation: float 5s infinite ease-in-out;
}

.icon1 {
    top: 10%;
    left: 10%;
    animation-delay: 0s;
}

.icon2 {
    top: 60%;
    right: 12%;
    animation-delay: 1.2s;
}

.icon3 {
    bottom: 10%;
    left: 50%;
    animation-delay: 2s;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* Login Card */
.login-card {
    width: 420px;
    padding: 35px;
    border-radius: 20px;
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.09);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.1);
    animation: fadeIn 0.8s ease-in-out;
}

/* Card Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Icon Logo */
.logo-box {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 30px;
    color: #ffe082;
}

/* Text */
.title {
    text-align: center;
    color: white;
    font-weight: 700;
}

.subtitle {
    text-align: center;
    color: #f0e9ff;
    margin-bottom: 20px;
}

/* Inputs */
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    color: #eee;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background: rgba(255, 255, 255, 0.82);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    outline: none;
    font-size: 15px;
}

/* Button */
.login-btn {
    width: 100%;
    padding: 12px;
    background: #ffca28;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #ffc107;
}

/* Register Link */
.register-text {
    text-align: center;
    margin-top: 15px;
    color: white;
}

.register-text a {
    color: #ffe082;
    font-weight: bold;
    text-decoration: none;
}