<div class="login-wrapper">

    <img src="https://cdn-icons-png.flaticon.com/512/3081/3081559.png" class="float-icon icon1">
    <img src="https://cdn-icons-png.flaticon.com/512/3523/3523063.png" class="float-icon icon2">
    <img src="https://cdn-icons-png.flaticon.com/512/2331/2331970.png" class="float-icon icon3">

    <div class="login-card">

        <div class="logo-box">
            <i class="fas fa-shopping-bag"></i>
        </div>

        <h2 class="title">Welcome Back</h2>
        <p class="subtitle">Login to continue shopping</p>

        <button class="login-btn" (click)="login()">
            Login with Keycloak
        </button>

        <p class="register-text">
            New to our store?
            <span>Accounts are managed securely via Keycloak</span>
        </p>

    </div>

</div>