<div class="page-header text-center">
    <h2 class="fw-bold">Products</h2>
    <p class="header-subtitle">Explore our latest electronics collection</p>
</div>

<div class="product-container">
    <div class="product-card" *ngFor="let p of products" (click)="viewProduct(p.id)">

        <img [src]="p.imageUrl" alt="{{ p.name }}" class="product-image" />

        <div class="product-info">
            <h3>{{ p.name }}</h3>
            <p class="desc">{{ p.description }}</p>
            <p class="price">₹{{ p.price }}</p>
            <button class="buy-btn" (click)="addToCart(p); $event.stopPropagation()">
                Add to Cart
            </button>
            <button class="buy-btn">Buy Now</button>
        </div>

    </div>
</div>