.wishlist-header {
    margin-top: 100px;
    margin-bottom: 30px;
}

.wishlist-header h2 {
    font-size: 34px;
    font-weight: 700;
    color: #d63384;
    /* beautiful pink highlight */
}

.wishlist-header .subtitle {
    font-size: 15px;
    color: #6c757d;
    margin-top: 5px;
}