.page-header {
    margin-top: 20px;
    /* So navbar doesn't overlap */
    margin-left: 20px;
}

.page-header h2 {
    font-size: 28px;
    font-weight: 600;
}

.working-box {
    width: 350px;
    border-radius: 12px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    transition: transform 0.3s ease;
}

.working-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}